# Created by http://gitignore.io

### ZendFramework ###
INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea